<!DOCTYPE html>
<html>
  <head>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <title>HeatMapByWebGazer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/style.css">
    <link rel="stylesheet" href="_bootstrap.scss">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async type="text/javascript" src="/webgazer.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
